body{
    font-family: 'Advent Pro', sans-serif; 
    background-color: rgb(0, 10, 19);
}
h1{
    color: rgb(5, 138, 138);
    padding-left: 400px;
    font-size: 65px;
}

h2{
    color: aqua;
}